<table width="100%">
  <thead>
    <tr>
      <th>Machine</th><th>Status</th><th>Last Report</th>
    </tr>
  </thead>
  <tbody> 
    <tr> 
      <td>bigpapa</td><td>Success</td><td><%= Time.now %></td>
    </tr>
    <tr>
      <td>boymonkey</td><td>Failure</td><td><%= Time.now %></td>
    </tr>
  </tbody>
</table>
