<section id="machines">
  <div class="machine">
    <a href="/machines/boymonkey" class="button success large">boymonkey</a>
    <a href="/machines/boymonkey" class="button alert large">boymonkey</a>
    <a href="/machines/boymonkey" class="button large">boymonkey</a>
    <a href="/machines/boymonkey" class="button secondary large">boymonkey</a>
  </div>
</section>
