.loading {
  text-align: center;
}

footer {
  text-align: right;
}

th span {
  float: right;
  display: none;
  width: 12px;
  height: 12px;
}

.asc span {
  display: block;  
  margin-top: 4px;  
  background: url(/img/arrows.png) 0 top no-repeat;
}

.desc span {
  display: block;  
  margin-bottom: 4px;  
  background: url(/img/arrows.png) 0 bottom no-repeat;
}

.status-success .status {
  color: green;
}

.status-failure td {
  font-weight: bold;
  font-size: 110%;
}

.status-failure .status {
  color: red;
}
