#machines .machine a {
  width: 100%;
}

#machine-name {
  margin-left: 18px;
  padding: 0px;
  padding-left: 8px;
  color: #434334;
  border-left: 6px solid #d3d2ce;
}

#summary ul {
  margin-left: 4px;
  color: #d3d2ce;
}

#summary strong, #summary span {
  color: #434334;
}

#summary span {
  float: right;
}

#graph {
  text-align: center;
}

.loading {
  text-align: center;
}

footer {
  text-align: right;
}

th span {
  float: right;
  display: none;
  width: 12px;
  height: 12px;
}

.asc span {
  display: block;  
  margin-top: 4px;  
  background: url(/img/arrows.png) 0 top no-repeat;
}

.desc span {
  display: block;  
  margin-bottom: 4px;  
  background: url(/img/arrows.png) 0 bottom no-repeat;
}

.status-success .status {
  color: #5da423;
}

.status-failure td {
  font-weight: bold;
  font-size: 110%;
}

.status-failure .status {
  color: #c60f13;
}
